<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
    <script src="../javascripts/script.js" defer></script>
</head>
<body>
    <main>
        <div class="gallery">
            <div class="titlePhotos"><h2>Galeria</h2></div>
            <div class="directions" id="directions">
                <button id="menuPhoto">Kliknij mnie</button>
                <div id="otherButtons">
                    
                </div>
            </div>
            <div class="photoContainer" id="photoContainer">    
                
            </div>
            <div class="preview" id="preview">
                <img src="" id="imagePreview">
            </div>
    </main>
</body>
</html>